<div id="error_explanation">
  <% if @ingredient.errors.any? %>
    <h4><%= pluralize(@ingredient.errors.count, "error") %> kept this ingredient from saving:</h4>
  <% else %>
    <h4></h4>
  <% end %>
    <ul>
    <% @ingredient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>



<% if !@beer %>
  <%= form_for @ingredient do |f| %>
    <br>
    <%= f.label :name, class: "col-sm-1" %>
    <%= f.text_field :name %><br>
    <%= f.label :origin, class: "col-sm-1" %>
    <%= f.text_field :origin %><br>
    <label class="col-sm-1"><strong>Kind<%=": #{@ingredient.kind}" if @ingredient.beers.any?%></strong></label>
    <%= f.select :kind, ingredient_kinds, selected: @ingredient.kind, class: "col-sm-4" if !@ingredient.beers.any? %>
    <br>
    <%= f.submit %>
  <% end %>
<% else %>
  <%= form_for @ingredient do |f| %>
      <%= hidden_field_tag "ingredient[beer][id]", @beer.id %>
      <div class="<%= error_field?("base") %>">
      <%= label_tag "ingredient[beer][ingredient_attributes][][amount]", "Amount", class: "col-sm-1" %>
      </div>
      <%= number_field_tag "ingredient[beer][ingredient_attributes][][amount]", amount_params, step: 0.1, min: 0 %><br>
      <div class="<%= error_field?("name") %>">
      <%= label_tag "ingredient[beer][ingredient_attributes][][name]", "Name", class: "col-sm-1" %>
      </div>
      <%= text_field_tag "ingredient[beer][ingredient_attributes][][name]", name_params %><br>
      <div class="<%= error_field?("origin") %>">
      <%= label_tag "ingredient[beer][ingredient_attributes][][origin]", "Origin", class: "col-sm-1" %>
      </div>
      <%= text_field_tag "ingredient[beer][ingredient_attributes][][origin]", origin_params %><br>
      <%= label_tag "ingredient_kind", "Kind", class: "col-sm-1" %>
      <select id = "ingredient_kind", name="ingredient[beer][ingredient_attributes][][kind]">
        <% ingredient_kinds.each do |kind| %>
          <% if kind_params == kind %>
            <option selected="selected" value="<%= kind %>"><%= kind %></option>
          <% else %>
            <option value="<%= kind %>"><%= kind %></option>
          <% end %>
        <% end %>
      </select>
      <br>
    <%= f.submit "Add ingredient to #{@beer.name}" %>
  <% end %>
<% end %>

<p><button type="button" onclick="window.history.back()">Back</button></p>
