<% if @ingredient.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@ingredient.errors.count, "error") %> kept this ingredient from saving:</h4>
  <ul>
  <% @ingredient.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @ingredient do |f| %>
  <br>
  <%# if @beer
    <% hidden_field for beer_id, add amount to form
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :origin %>
  <%= f.text_field :origin %><br>
  <label><strong>Ingredient type:</strong></label>
  <%= f.select :kind, ingredient_types, selected: @ingredient.kind %>
  <br>
  <%= f.submit %>
<% end %>
