<% if !!@beer %>
  <%= link_to beer_ingredient_path(@beer, ingredient) do %>
    <p>
      <%= ingredient.name -%> (<%= ingredient.kind -%>)
    </p>
  <% end %>
<% else %>
  <%= link_to ingredient_path(ingredient) do %>
    <p>
      <%= ingredient.name -%>
    </p>
  <% end %>
<% end %>
