<h1><%= @ingredient.name -%></h1>
<h3>(<%= @ingredient.kind -%>)</h3>
<br>
<%= render partial: 'attribute', locals: {title: "Origin:", value: @ingredient.origin} %>
<% if @beer %>
  <p>Each batch of <%= @beer.name -%> requires <%= @amount -%>kg of this ingredient.</p>
<% end %>
<br>
<h4> Found in: </h4>
<% @ingredient.beers.each do |beer| %>
  <%= render partial: 'beers/beer', locals: {beer: beer} %>
<% end %>
