<% if @beer.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@beer.errors.count, "error") %> kept this beer from saving:</h4>
  <ul>
  <% @beer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_for @beer do |f| %>
  <%= f.hidden_field :user_id, value: @beer.user_id ||= current_user.id %>
  <%= f.label :name, class: "col-sm-1" %>
  <%= f.text_field :name %><br>
  <%= f.label :style, class: "col-sm-1" %>
  <%= f.text_field :style %><br>
  <%= f.label :abv, class: "col-sm-1" %>
  <%= f.number_field :abv, class: 'text_field', step: 0.1 %><br>
  <%= f.label :ibu, class: "col-sm-1" %>
  <%= f.number_field :ibu %><br>
  <%= f.label :srm, class: "col-sm-1" %>
  <%= f.number_field :srm %><br>
  <%# Refactor the partial so this can go away; counterpoint: one ingredient of each type displays.%>
  <h4>Ingredients:</h4>
  <% ingredient_kinds.each do |ingredient_kind| %>
    <div class="form-inline">
    <label class="col-sm-1"><%=ingredient_kind.capitalize%>:</label>
    <select name="beer[ingredient_attributes][][name]" class="col-sm-3">
      <% Ingredient.send(ingredient_kind).each do |ingredient| %>
        <option value="<%= ingredient.name %>"><%= ingredient.name %></option>
      <% end %>
    </select>
    Amount: <input type="number" name="beer[ingredient_attributes][][amount]"><br>
    </div>
  <% end %>
  <br>
  <br>

  <%= f.submit %>
<% end %>
