<% if @beer.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@beer.errors.count, "error") %> kept this beer from saving:</h4>
  <ul>
  <% @beer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_for @beer do |f| %>
  <%= f.hidden_field :user_id, value: @beer.user_id ||= current_user.id %>
  <%= f.label :name, class: "col-sm-1" %>
  <%= f.text_field :name %><br>
  <%= f.label :style, class: "col-sm-1" %>
  <%= f.text_field :style %><br>
  <%= f.label :abv, class: "col-sm-1" %>
  <%= f.number_field :abv, class: 'text_field', step: 0.1, min: "0", max: "20" %><br>
  <%= f.label :ibu, class: "col-sm-1" %>
  <%= f.number_field :ibu, min: "0", max: "150", step: 1.0 %><br>
  <%= f.label :srm, class: "col-sm-1" %>
  <%= f.number_field :srm, class: 'text_field', step: 0.1, min: "1.0", max: "20.0" %><br>
  <h4>Ingredients:</h4>
  <% ingredient_kinds.each do |ingredient_kind| %>
    <div class="form-inline">
    <label class="col-sm-1"><%=ingredient_kind.capitalize%>:</label>
    <select name="beer[ingredient_attributes][][name]" class="col-sm-2">
      <% Ingredient.send(ingredient_kind).each do |ingredient| %>
        <option value="<%= ingredient.name %>"><%= ingredient.name %></option>
      <% end %>
    </select>
    <label class="col-sm-1">Amount: </label>
    <input type="number" step="0.1" min="0" name="beer[ingredient_attributes][][amount]" value="<%= @beer.find_beer_ingredient_amount(ingredient_kind)%>">
    <label>(kg)</label>
    <br>
    </div>
  <% end %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
