<% if @beer.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@beer.errors.count, "error") %> kept this beer from saving:</h4>
  <ul>
  <% @beer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @beer do |f| %>
  <br>
  <%= f.hidden_field :user_id, value: @beer.user_id ||= current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :style %>
  <%= f.text_field :style %><br>
  <%= f.label :abv %>
  <%= f.number_field :abv, class: 'text_field', step: 0.1 %><br>
  <%= f.label :ibu %>
  <%= f.number_field :ibu %><br>
  <%= f.label :srm %>
  <%= f.number_field :srm, class: 'text_field', step: 0.1 %><br>
    <%= f.fields_for :beer_ingredients do |b| %>
      <%= b.number_field :amount %><br>
      <%= b.fields_for :ingredient do |i| %>
        <%= i.label :name %><br>
        <%= i.text_field :name %><br>
        <%= i.label :origin %>
        <%= i.text_field :origin %><br>
        <%= i.label :kind %>
        <%= i.text_field :kind %><br>
      <% end %>
    <% end %>
  <%= f.submit %>
<% end %>
