<% if @beer.errors.any? %>
<div id="error_explanation">
  <h4><%= pluralize(@beer.errors.count, "error") %> kept this beer from saving:</h4>
  <ul>
  <% @beer.errors.full_messages.each do |msg| %>
    <li><%= message_check(msg) %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_for @beer do |f| %>
  <label class="col-sm-1">Amount</label>
  <input type="number" step="0.1" min="0" name="beer[ingredient_attributes][][amount]"><br>
  <label class="col-sm-1">Name</label>
  <input name="beer[ingredient_attributes][][name]"><br>
  <label class="col-sm-1">Origin</label>
  <input name="beer[ingredient_attributes][][origin]"><br>
  <label class="col-sm-1">Kind</label>
  <select name="beer[ingredient_attributes][][kind]">
    <% ingredient_kinds.each do |kind| %>
      <option value="<%= kind %>"><%= kind %></option>
    <% end %>
  </select>
  <br>
  <%= f.submit %>
<% end %>
