<h1><%= @beer.name %></h1>
<h4> Brewed by <%= @beer.user.name %></h4>
<br>

<%= render partial: 'attribute', locals: {title: "Style:", value: @beer.style} %>
<%= render partial: 'attribute', locals: {title: "ABV:", value: @beer.abv, suffix: "% (#{@beer.alcohol})"} %>
<%= render partial: 'attribute', locals: {title: "IBU:", value: @beer.ibu, suffix: " (#{@beer.bitter})"} %>
<%= render partial: 'attribute', locals: {title: "SRM (Color):", value: @beer.srm, suffix: " (#{@beer.color})"} %>

<br>

<h4><%= link_to "See the Ingredients", beer_ingredients_path(@beer) %></h4>
