<h1><%= @beer.name %></h1>
<h4> Brewed by <%= @beer.user.name %></h4>
<br>

<%= render partial: 'beer_attribute' %>

<br>

<h4><%= link_to "See the Ingredients", beer_ingredients_path(@beer) %></h4>

<br>
<%if creator? %>
<%= button_to "Edit Beer", edit_beer_path, method: :get%>
<%= button_to "Delete Beer", beer_path(@beer), method: :delete%>
<% end %>
