<h1><%= @beer.name %></h1>
<h4> Brewed by <%= @beer.user.name %></h4>
<br>

<%= render partial: 'beer_attribute' %>

<br>

<div id="ingredients-index-list">
  <h4 id="see-ingredients-header">
    <a class="see-ingredients-link" href="#" data-id="<%=@beer.id
    %>">See the Ingredients</a>
  </h4>
</div>


<br>
<%if creator? %>
<%= button_to "Edit Beer", edit_beer_path, method: :get%>
<%= button_to "Delete Beer", beer_path(@beer), method: :delete%>
<% end %>
