<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag("Torgo.png") + " Torgo Brewery", root_path, class: "navbar-left"%>
    </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Our Beers", "/beers" %></li>
        <li><%= link_to "Our Ingredients", "/ingredients" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !!current_user %>
          <li class="navbar-text navbar-right"><span>Logged in as <%= current_user.name -%> &nbsp; (<%=link_to "Sign Out", destroy_user_session_path, method: 'delete' %>) &nbsp; </span></li>
        <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Brewers<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create Account", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
  </div>

</nav>
