<!DOCTYPE html>
<html>
  <head>
    <title>Brewery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Torgo Brewery</a>
        </div>
        <% if !!current_user %>
          <ul class="nav navbar-nav">
            <li><a>Logged in as <%= current_user.name %></a></li>
            <li><a href="/beers">Your Beers</a></li>
            <li><a href="/ingredients">Your Ingredients</a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><a href="users/sign_up">Create Account</a></li>
            <li><a href="users/sign_in">Sign In</a></li>
          </ul>
        <% end %>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
